/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #fcf3fb;
  }

  h4 {
    border-width: 2px;
    border-radius: 10px;
    text-align: center;
    border-color: peru;
    width: 90%;
    border-style: solid;
    padding: 10px;
    margin-left: 50px; 
  }